.main {
  display: flex;
  --s: 100px; /* size  */
  --m: 4px; /* margin */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container div {
  display: flex;
  justify-content: center;
}

.container div div {
  font-size: initial;
  width: 100px;
  margin: 4px;
  height: 115.47px;
  display: inline-block;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background-color: burlywood;
  margin-bottom: -24px;
}
